SECRET_KEY=THIS_IS_NOT_A_GOOD_SECRET
DEBUG=False
ALLOWED_HOSTS=127.0.0.1, .localhots, .herokuapp.com

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.sendgrid.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=apikey
EMAIL_HOST_PASSWORD=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


# heroku config:set "EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend" 
# heroku config:set "EMAIL_HOST=smtp.sendgrid.com"
# heroku config:set "EMAIL_PORT=587" "EMAIL_USE_TLS=True" 
# heroku config:set "EMAIL_HOST_USER=apikey" 
# heroku config:set "EMAIL_HOST_PASSWORD=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"